@using WebUI.Controllers

@model IEnumerable<SelectedChooseItem>

@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            <label>
                <input data-item-id="@item.Id" type="checkbox" @(item.Selected ? "checked" : "") />
                @item.Name
            </label>
        </li>
    }
</ul>


<script>
    const fruitList = document.querySelectorAll('input[type="checkbox"]');

    function checkChange(e) {
        console.log(e.target.checked, e.target.getAttribute('data-item-id'));

        let ids = [...fruitList].filter(m => m.checked == true).map(m => m.getAttribute('data-item-id')).join();
        ids = encodeURIComponent(ids);

        document.cookie = `fruitIds=${ids}; expires=Thu, 18 Dec 2024 12:00:00 UTC; path=/`;
    }


    fruitList.forEach(item => item.addEventListener('change', checkChange));
</script>