@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime</title>
    <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
    <input name="to" placeholder="kime:"/>
    <input name="text" placeholder="mesajiniz"/>
    <button id="send">Gonder</button>

    <div class="box" style="top:100px;left:100px"></div>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/game")
            .build();

        connection.on('ReceiveAsync', function (a) {
            console.log(a);
        });

        connection.start().then(function () {
            console.log('connected!');

            const btn = document.querySelector('#send');
            btn.addEventListener('click', function () {
                const input = document.querySelector('[name="text"]');
                const to = document.querySelector('[name="to"]');

                // console.log(input.value);

                connection.invoke('SendToMessage', input.value, to.value);
            });


        }).catch(function (err) {
            return console.error(err.toString());
        });


        window.addEventListener('load', onLoad);

        let box = null;

        function onLoad() {
            console.log('loaded!');

            document.body.addEventListener('mousemove', mouseMove);
        }

        function mouseMove(e) {

            if (box == null) {
                box = document.querySelector('.box');
            }

            if (box == null || box == undefined) {
                return;
            }

            const { clientX, clientY } = e;

            box.style.top = `${clientY}px`;
            box.style.left = `${clientX}px`;
            box.style.backgroundColor = `rgb(${(clientX + clientY) % 255},${clientX % 255},${clientY % 255})`;
        }
    </script>
</body>
</html>