.select2-container--default:focus {
    border-color: #01a9ac;
}

.select2-container--default.select2-container--open
.select2-selection--single
.select2-selection__arrow
b {
    border-color: transparent transparent #fff transparent;
}

.select2-container--default .select2-search__field:focus {
    border: 1px solid #01a9ac;
}

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
    background-color: #01a9ac;
}

.select2-container--default .select2-selection--multiple {
    padding: 3px;
}

    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
        background-color: #01a9ac;
        border: 1px solid #01a9ac;
        padding: 5px 15px;
        color: #fff;
    }

        .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice
        span {
            color: #fff;
        }

    .select2-container--default
    .select2-selection--multiple
    .select2-search__field {
        border: none;
    }

.select2-container--default.select2-container--focus
.select2-selection--multiple {
    border: 1px solid #01a9ac;
}

.select2-container--default .select2-selection--single {
    color: #fff;
    height: auto;
}

    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        background-color: #01a9ac;
        /*color: #fff;*/
        padding: 8px 30px 8px 20px;
    }

    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
        top: 10px;
        right: 15px;
    }

        .select2-container--default
        .select2-selection--single
        .select2-selection__arrow
        b {
            border-color: #fff transparent transparent transparent;
        }

    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        background-color: unset;
    }

.selection > .select2-selection.select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.select2-container--default .select2-selection--single {
    border: none;
}

    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        padding: 0.375rem 0.75rem;
    }

.select2-selection__arrow {
    height: 35px !important;
    top: 1px !important;
    right: 3px !important;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice {
    background-color: #01a9ac !important;
    border: 1px solid #01a9ac !important;
    color: #fff;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
