@model Student

@{
    Layout = null;
}

<div class="row">
    <div class="col-12">

        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>

            <dt>Surname</dt>
            <dd>@Model.Surname</dd>

            <dt>GroupNo</dt>
            <dd>@Model.GroupNo</dd>
        </dl>
        <a asp-controller="Students" asp-action="index">Go back</a>

    </div>
</div>
