@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id="testBtn">Test</button>
</div>

@section Styles {
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/toastr.js/toastr.min.js">
    </script><script src="~/js/toastr.override.js"></script>
    <script>
        const btn = document.getElementById('testBtn');

        btn.addEventListener('click', function (e) {
            const response = {
                code: 201,
                message: 'Demo message'
            };
            toastr.success(response.message, "demo")
        });
    </script>
}
