<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Əməliyyat</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="Dashboard" asp-action="Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Ana səhifə</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                    <span class="pcoded-mtext">Məhsullar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a>
                            <span class="pcoded-mtext">Məhsullar</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="pcoded-mtext">Kompaniyalar</span>
                            <span class="pcoded-badge label label-info">NEW</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="pcoded-mtext">Tükənən məhsullar</span>
                            <span class="pcoded-badge label label-danger">5</span>
                        </a>
                    </li>

                    @if (User.HasAccess("admin.categories.get"))
                    {
                        <li>
                            <a asp-controller="Categories" asp-action="Index">
                                <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                <span class="pcoded-mtext">Kateqoriyalar</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>  
            @if (User.HasAccess("admin.tags.get"))
            {
                <li>
                    <a asp-controller="Tags" asp-action="Index">
                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                        <span class="pcoded-mtext">Təqlər</span>
                    </a>
                </li>
            }
           
        </ul>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-feather"></i></span>
                    <span class="pcoded-mtext">Paylaşımlar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a>
                            <span class="pcoded-mtext">Dərc edilmişlər</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="pcoded-mtext">Gözləmədə</span>
                            <span class="pcoded-badge label label-info">2</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="pcoded-mtext">İmtina edilib</span>
                            <span class="pcoded-badge label label-danger">5</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Tənzimləmələr</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a href="default/index.html">
                            <span class="pcoded-mtext">Default</span>
                        </a>
                    </li>
                    <li>
                        <a href="default/dashboard-crm.html">
                            <span class="pcoded-mtext">CRM</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="default/dashboard-analytics.html">
                            <span class="pcoded-mtext">Analytics</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="default/navbar-light.html">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Navigation</span>
                </a>
            </li>
        </ul>
    </div>
</nav>