@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>GroupId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Name</th>
                <th>@item.Surname</th>
                <th>@item.GroupId</th>
            </tr>
        }
    </tbody>
</table>

