@model IEnumerable<CategoryGetAllDto>

<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>All Categories</span>
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.Name</a></li>
        }
    </ul>
</div>