<nav class="header__menu">
    <ul>
        <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="shop" asp-action="index">Shop</a></li>
@*         <li>
            <a href="#">Pages</a>
            <ul class="header__menu__dropdown">
                <li><a href="shop-details.html">Shop Details</a></li>
                <li><a href="shoping-cart.html">Shoping Cart</a></li>
                <li><a href="checkout.html">Check Out</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
        </li> *@
        <li><a asp-controller="Blog" asp-action="index">Blog</a></li>
        <li><a asp-controller="Home" asp-action="contact">Contact</a></li>
    </ul>
</nav>